//公共变量
design-size = 2880     //设计稿尺寸
html-size   = 16      //默认字体大小
design-dpi  = 2       //设计稿dpi
device-size = 320 360 375 412 414 480 640 768 1024 1920//设备尺寸
device-name = 'iphone5/5s' 'mi2/miNote' 'iphone6/6s' 'samsungS6' 'iphone6/6sPlus' 'otherAndriod' 'oodAndriod' 'ipad' '笔记本' '宽屏'  

//颜色
$color-white  = #ffffff
$color-black  = #1a1a1a //主黑色
$color-orange = #fc6722 //主橙色
$bg-gray      = #f2f3f4 //背景色
$color-border = #dedede //边框颜色
$color-bg     = #ebebeb //搜索背景
$other-gray   = #bdbaba //次级灰
$color-gray   = #c6c6c6 //按钮边框
$color-icon   = #9a9a9a //字体图标
$gray-border  = #ececec //淡色边框
$list-border  = #f3f3f3 //列表边框
$gary-font    = #abaaaa //浅色字体
$color-blue   = #5383af //蓝色
$color-table  = #7f7f7f //表格标题
$cont-gray    = #737373 //内容灰
$gray-footer  = #dbdbdb //底部灰色
$footer-line  = #bcb8b8 //底部线
$footer-black = #a0a0a0 //底部图表
$link-black   = #303030 //链接背景
$link-gray    = #bab8b8 //链接字体
