doctype html
html(lang="en")
  head
    <title>ZacFang</title>
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    meta(name="author",content="ZacFang")
    meta(name="keywords",content="")
    meta(name="description",content="")
    //- link(rel="shortcut icon",type="image/x-icon",href="")
    link(rel="stylesheet",href="css/index.css")
    script(src="../../ts/index.js")
  body